.graphDFSStarts,
.graphBFSStarts,
.primStarts,
.kruStarts,
.dijStarts {
	width: 240px;
	background: #1e293bdd;
	cursor: pointer;
	padding-left: 30px;
	margin-top: 2px;
}

.graphDFSStarts p,
.graphBFSStarts p,
.primStarts p,
.kruStarts p,
.dijStarts p {
	text-align: left;
	color: white;
	font-size: 1.5em;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 6px;
	margin: 0px;
	/* background-color: pink; */
}

.peakNum,
.peakPrimNum,
.peakKruNum,
.peakDijNum {
	width: 200px;
	height: 35px;
	cursor: pointer;
}

.peakNum span,
.peakPrimNum span,
.peakKruNum span,
.peakDijNum span {
	font-size: 1em;
	color: white;
	display: inline-block;
	margin-top: 5px;
	/* text-indent: 2rem; */
}

.peakNum input,
.peakPrimNum input,
.peakKruNum input,
.peakDijNum input {
	width: 60%;
}

.createGraph,
.createPrimGraph,
.createKruGraph,
.createDijGraph {
	width: 90px;
	height: 35px;
	cursor: pointer;
}

.startPeak,
.startPrimPeak,
.startKruPeak,
.startDijPeak {
	width: 150px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.startPeak span,
.endPeak span,
.weight span,
.startPrimPeak span,
.endPrimPeak span,
.weightPrim span,
.startKruPeak span,
.endKruPeak span,
.weightKru span,
.startDijPeak span,
.endDijPeak span,
.weightDij span {
	font-size: 1em;
	color: white;
	display: inline-block;
	margin-top: 5px;
}

.startPeak input,
.endPeak input,
.weight input,
.startPrimPeak input,
.endPrimPeak input,
.weightPrim input,
.startKruPeak input,
.endKruPeak input,
.weightKru input,
.startDijPeak input,
.endDijPeak input,
.weightDij input {
	width: 65%;
}

.endPeak,
.endPrimPeak,
.endKruPeak,
.endDijPeak {
	width: 150px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.weight,
.weightPrim,
.weightKru,
.weightDij {
	width: 150px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.addEdge,
.addPrimEdge,
.addKruEdge,
.addDijEdge {
	width: 60px;
	height: 35px;
	/* background:        rgb(89,229,89); */
	cursor: pointer;
}

.addEdge span,
.deleteEdge span,
.createGraph span,
.runTraverse span,
.createPrimGraph span,
.addPrimEdge span,
.deletePrimEdge span,
.createKruGraph span,
.addKruEdge span,
.deleteKruEdge span,
.createDijGraph span,
.addDijEdge span,
.deleteDijEdge span {
	width: 100%;
	color: white;
	border-bottom: 1px solid white;
	font-size: 0.9em;
}

.addEdge span:hover,
.deleteEdge span:hover,
.createGraph span:hover,
.createPrimGraph span:hover,
.runTraverse span:hover,
.addPrimEdge span:hover,
.deletePrimEdge span:hover,
.createKruGraph span:hover,
.addKruEdge span:hover,
.deleteKruEdge span:hover,
.createDijGraph span:hover,
.addDijEdge span:hover,
.deleteDijEdge span:hover {
	color: #2980b9;
}

.deleteEdge,
.deletePrimEdge,
.deleteKruEdge,
.deleteDijEdge {
	width: 60px;
	height: 35px;
	/* background:        rgb(89,229,89); */
	cursor: pointer;
}

.runPeak,
.runPrimPeak,
.runDijPeak {
	width: 200px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.runPeak span,
.runPrimPeak span,
.runDijPeak span {
	font-size: 1em;
	color: white;
	display: inline-block;
	margin-top: 5px;
}

.runPeak input,
.runPrimPeak input,
.runDijPeak input {
	width: 40%;
}

.runTraverse {
	width: 80px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.selection,
.dirDijGraph {
	width: 200px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.selection span,
.dirGraph span,
.dirDijGraph span {
	font-size: 1em;
	color: white;
	display: inline-block;
	margin-top: 5px;
}

.dirGraph {
	width: 200px;
	height: 35px;
	/* background:        rgb(89, 229, 89); */
	cursor: pointer;
}

.chat-container {
	/* border: 1px solid #ccc; */
	/* background-color: pink; */
	padding: 10px;
	max-width: 400px;
	/* margin: auto; */
	flex: 1;
	height: 98%;
}

.messages {
	max-height: 70%;
	overflow-y: auto;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	/* background-color: green; */
	height: 65%;
}

.message {
	margin: 5px 0;
	clear: both;
	/* 确保每条消息都在新行上 */
}

.user-message {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	text-align: right;
}

.user-message span {
	padding-top: 5px;
	color: blue;
}

.user-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0 5px;
}

.user-message p {
	font-size: 12px;
	color: #999;
}

.ai-message {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.ai-message span {
	color: green;
	padding-top: 5px;
}

.ai-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 0 5px;
}

.ai-message p {
	font-size: 12px;
	color: #999;
}

#userInput {
	width: 80%;
	height: 40px;
}

#sendButton {
	height: 40px;
	width: 15%;
}